////
/// Block editor control overrides.
///
/// @group  Editor
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

.edit-post-header,
.edit-post-sidebar {
	font-size: initial;
}

.block-editor-media-placeholder * {
	font-size: initial;
}

.components-icon-button {

	svg {
		max-width: unset;
	}
}

.block-editor-block-list__insertion-point-inserter {
	--display: flex;
}

.components-responsive-wrapper .components-responsive-wrapper__content {
	width: 100%;
}

svg.dashicon.components-checkbox-control__checked {

	@media (min-width: 600px) {
		left: -1px;
	}
}

.wp-admin select {
	padding-right: 25px;
}
