////
/// Button block.
///
/// @group  Core
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

.wp-block-buttons {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: calc(var(--space-xxxs) * var(--text-vspace-multiplier, 1));
	margin-left: calc(-1 * var(--gap, 0.5em));

	&.alignleft,
	&.alignright {
		margin-bottom: calc(-1 * var(--gap, 0.5em));
	}

	&.alignleft {
		margin-right: var(--space-xs);
	}

	&.alignright {
		margin-left: var(--space-xs);
	}

	&.aligncenter {
		display: flex;
		justify-content: center;
	}
}

.wp-block-button {
	margin-bottom: var(--gap, 0.5em);
	margin-left: var(--gap, 0.5em);

	&__link {
		border: 0;
		box-shadow: none;
		cursor: pointer;
		display: inline-block;
		margin: 0;
		padding: var(--space-xs) var(--space-sm);
		text-align: center;
		white-space: normal;
		color: var(--color-contrast-lower);
		background-color: var(--color-contrast-high);
		border-radius: var(--radius-pill);
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	&.is-style-squared {
		.wp-block-button__link {
			border-radius: var(--radius);
		}
	}

	&.is-style-outline {
		.wp-block-button__link {
			box-shadow: 0 0 0 2px currentColor inset;

			&:not(.has-background) {
				background-color: transparent;
			}

			&:not(.has-text-color) {
				color: var(--color-contrast-high);
			}
		}
	}
}
