////
/// Columns block.
///
/// @group  Core
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints' as *;

.wp-block-columns {
	display: flex;
	margin-top: var(--component-padding);
	margin-bottom: var(--component-padding);
	gap: var(--component-padding);
	flex-wrap: wrap;

	@include breakpoint(md) {
		flex-wrap: nowrap;
	}

	&.has-background {
		padding: var(--component-padding);
	}

	&:not(.is-not-stacked-on-mobile) > .wp-block-column {

		@include breakpoint(lg) {
			flex-basis: 0;
			flex-grow: 1;

			&[style*="flex-basis"] {
				flex-grow: 0;
			}
		}
	}

	&.is-not-stacked-on-mobile {
		flex-wrap: nowrap;

		> .wp-block-column {
			flex-basis: 0;
			flex-grow: 1;

			&[style*="flex-basis"] {
				flex-grow: 0;
			}
		}
	}
}

.wp-block-column {
	flex-grow: 1;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;

	&.is-vertically-aligned-top,
	&.is-vertically-aligned-center,
	&.is-vertically-aligned-bottom {
		width: 100%;
	}
}
