////
/// Columns block.
///
/// @group  Core
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints';

.wp-block-columns {
	display: flex;
	flex-wrap: wrap;

	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}
}

// Individual columns.

// Please note that only equal split columns
// collapse into a single column on small screens.
// This is due to Gutenberg setting custom column
// widths as inline styles, instead of assigning
// classes.

.wp-block-column {
	background-clip: content-box;
	flex-basis: 100%;

	@include breakpoints.breakpoint(sm) {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	&.is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.is-vertically-aligned-center {
		align-self: center;
	}

	&.is-vertically-aligned-bottom {
		align-self: flex-end;
	}
}
