////
/// Embed block.
///
/// @group  Core
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use 'tools/mixins' as *;

$aspect-ratios: (
	'21-9': 42.85%,
	'18-9': 50%,
	'16-9': 56.25%,
	'4-3': 75%,
	'1-1': 100%,
	'9-6': 66.66%,
	'1-2': 200%,
);

// old style embed
.embed-youtube {
	--aspect-ratio: calc(16 / 9);
	position: relative;
	height: 0;
	padding-bottom: calc(100% / (var(--aspect-ratio)));

	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.wp-block-embed {
	margin-top: var(--component-padding);
	margin-bottom: var(--component-padding);

	&.wp-has-aspect-ratio {
		padding-bottom: 0;
		height: auto;
		position: relative;
	}

	// Directly target iframes.
	iframe {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&__wrapper {
		position: relative;

		.wp-has-aspect-ratio & iframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.wp-has-aspect-ratio &::before {
			content: '';
			display: block;
			padding-top: 50%;
		}

		@each $aspect-ratio, $padding in $aspect-ratios {
			.wp-embed-aspect-#{ $aspect-ratio } &::before {
				padding-top: $padding;
			}
		}

		// reset old style embed when nested in Gutenberg embed block
		> .embed-youtube {
			padding: revert;
			height: revert;
			position: revert;
		}
	}

	// Image embeds.
	&.is-type-image {}

	// Audio embeds.
	&.is-type-audio {}

	// Rich text embeds (text, Twitter, etc.)
	&.is-type-rich {}

	// Video embeds.
	&.is-type-video {}

	// Caption below embedded content.
	figcaption {
		@include caption;
		position: static;
	}
}
