////
/// Gallery block.
///
/// @group  Blocks
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

// The wrapper element for the entire gallery.
.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	margin: var(--component-padding) -8px;
}

// The wrapper for individual gallery images/figures.
.blocks-gallery-item {
	margin: 8px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	position: relative; // Image figure.
	width: calc(100% / 2 - 16px); // Fallback to 2 columns.

	figure {
		margin: 0;
		height: 100%;

		// IE11 doesn't support flex and can't read this.
		@supports (position: sticky) {
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
		}
	}

	img {
		display: block;
		max-width: 100%;
		height: auto; // Set an explicit width for IE.
		width: 100%;

		// IE11 can't read this.
		@supports (position: sticky) {
			width: auto;
		}
	}

	figcaption {
		@include caption;

		position: absolute;
		padding: var(--space-xxxs) var(--space-xs);
		background-color: hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), 0.75);
		bottom: 0;
		width: 100%;

		img {
			display: inline;
		}
	}
}

// Cropped images.
.is-cropped .blocks-gallery-item {

	a,
	img {
		flex: 1;
		width: 100%;

		// IE11 doesn't support object-fit.
		@supports (position: sticky) {
			flex: 1;
			height: 100%;
			object-fit: cover;
		}
	}
}

// 1 column.
.columns-1 .blocks-gallery-item {
	width: calc(100% / 1 - 16px);
}

// 3-8 columns on larger screens.
@include breakpoint(sm) {

	@for $i from 3 through 8 {

		.columns-#{ $i } .blocks-gallery-item {
			width: calc( 100% / #{ $i } - 16px);
		}
	}
}
