////
/// Gallery block.
///
/// @group  Core
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints';
@use 'tools/mixins';

:root {
	--wp-gallery-gap: 4px;
}

// The wrapper element for the entire gallery.
.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	margin-top: var(--component-padding);
	margin-bottom: var(--component-padding);
}

// The wrapper for gallery images.
.blocks-gallery-grid {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	list-style: none;
	margin-bottom: calc(-1 * var(--wp-gallery-gap));
	margin-left: calc(-1 * var(--wp-gallery-gap));
	padding: 0;
}

// The wrapper for individual gallery images/figures.
.blocks-gallery-item {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	position: relative; // Image figure.
	width: calc(100% / 2 - var(--wp-gallery-gap)); // Default to 2 columns.
	margin-bottom: var(--wp-gallery-gap);
	margin-left: var(--wp-gallery-gap);

	figure {
		margin: 0;
		height: 100%;

		// IE11 doesn't support flex and can't read this.
		@supports (position: sticky) {
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
		}
	}

	img {
		display: block;
		max-width: 100%;
		height: auto; // Set an explicit width for IE.
		width: 100%;

		// IE11 can't read this.
		@supports (position: sticky) {
			width: auto;
		}
	}

	figcaption {
		@include mixins.caption;

		position: absolute;
		padding: var(--space-xl) var(--space-md) var(--space-sm);
		background-image: linear-gradient(to top, hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.9), 75%, hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0));
		color: var(--color-white);
		bottom: 0;
		width: 100%;

		img {
			display: inline;
		}
	}
}

.blocks-gallery-caption {
	@include mixins.caption;

	flex-basis: 100%;
}

// Cropped images.
.is-cropped .blocks-gallery-item {

	a,
	img {
		flex: 1;
		width: 100%;

		// IE11 doesn't support object-fit.
		@supports (position: sticky) {
			flex: 1;
			height: 100%;
			object-fit: cover;
		}
	}
}

// 1 column.
.columns-1 .blocks-gallery-item {
	width: calc(100% / 1);
}

// 3-8 columns on larger screens.
@include breakpoints.breakpoint(sm) {

	@for $i from 3 through 8 {

		.columns-#{ $i } .blocks-gallery-item {
			width: calc( 100% / #{ $i } - var(--wp-gallery-gap));
		}
	}
}
