////
/// Image block.
///
/// @group  Blocks
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

.wp-block-image {
	margin-top: var(--component-padding);
	margin-bottom: var(--component-padding);

	img {
		max-width: 100%;
		display: block;
		margin: auto;
	}

	.aligncenter img {
		margin: auto;
	}

	.alignleft {

		@include breakpoint(md) {
			margin-left: -15%;
		}

		@include breakpoint(lg) {
			margin-left: -30%;
		}
	}

	.alignright {

		@include breakpoint(md) {
			margin-right: -15%;
		}

		@include breakpoint(lg) {
			margin-right: -30%;
		}
	}

	&.rounded img {
		border-radius: var(--radius);
	}

	&.rounded--circle img {
		border-radius: 50%;
	}

	figcaption {
		@include caption;
	}

	.is-resized {}
}
