////
/// Image block.
///
/// @group  Blocks
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

@use "~codyhouse-framework/main/assets/css/base/breakpoints";
@use "../../tools/mixins";

.wp-block-image {
	margin-top: var(--component-padding);
	margin-bottom: var(--component-padding);

	img {
		max-width: 100%;
		display: block;
		margin: auto;
	}

	.aligncenter img {
		margin: auto;
	}

	.alignleft {

		@include breakpoints.breakpoint(md) {
			margin-left: -15%;
		}

		@include breakpoints.breakpoint(lg) {
			margin-left: -30%;
		}
	}

	.alignright {

		@include breakpoints.breakpoint(md) {
			margin-right: -15%;
		}

		@include breakpoints.breakpoint(lg) {
			margin-right: -30%;
		}
	}

	&.rounded img {
		border-radius: var(--radius);
	}

	&.rounded--circle img {
		border-radius: 50%;
	}

	&.is-style-circle-mask,
	&.rounded--circle {

		img {
			// A pill-shape prevents the oval shape that
			// a circular border radius would give.
			border-radius: var(--radius-pill);

			// If a browser supports it, we will switch to using a circular SVG mask.
			@supports (mask-image: none) or (-webkit-mask-image: none) {
				mask-image: url(../svg/circle-mask.svg);
				mask-mode: alpha;
				mask-repeat: no-repeat;
				mask-size: contain;
				mask-position: center;
				border-radius: 0;
			}
		}
	}

	figcaption {
		@include mixins.caption;
	}

	.is-resized {}
}
