////
/// Image block.
///
/// @group  Core
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use 'tools/mixins' as *;

.wp-block-image {
	margin-top: var(--component-padding);
	margin-bottom: var(--component-padding);

	img {
		max-width: 100%;
		display: block;
		margin: auto;
	}

	.aligncenter img {
		margin: auto;
	}

	.alignleft {

		// Using `breakpoint()` breaks purgecss-whitelister
		@media (min-width: 64rem) {
			margin-left: -15%;
		}

		// Using `breakpoint()` breaks purgecss-whitelister
		@media (min-width: 80rem) {
			margin-left: -30%;
		}
	}

	.alignright {

		// Using `breakpoint()` breaks purgecss-whitelister
		@media (min-width: 64rem) {
			margin-right: -15%;
		}

		// Using `breakpoint()` breaks purgecss-whitelister
		@media (min-width: 80rem) {
			margin-right: -30%;
		}
	}

	&.rounded img {
		border-radius: var(--radius);
	}

	&.rounded--circle img {
		border-radius: 50%;
	}

	&.is-style-rounded {

		img {
			// A pill-shape prevents the oval shape that
			// a circular border radius would give.
			border-radius: var(--radius-pill);
		}
	}

	&.rounded--circle,
	&.is-style-circle-mask {

		// If a browser supports it, use a circular SVG mask.
		@supports (mask-image: none) or (-webkit-mask-image: none) {
			mask-image: url(../svg/circle-mask.svg);
			mask-mode: alpha;
			mask-repeat: no-repeat;
			mask-size: contain;
			mask-position: center;
			border-radius: 0;
		}
	}

	figcaption {
		@include caption;
	}

	.is-resized {}
}
