////
/// Quote block.
///
/// @group  Core
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints' as *;
@use 'tools/mixins' as *;

.wp-block-quote {
	@include blockquote;
	margin-top: var(--component-padding);
	margin-bottom: var(--component-padding);

	p {
		margin-bottom: var(--space-sm);

		&:last-child {
			margin-bottom: 0;
		}
	}

	cite,
	.wp-block-quote__citation {
		@include cite;
		margin-top: 0;
	}

	&.is-style-default {
		border-color: var(--color-primary);
		padding-left: var(--space-md);
		font-size: var(--text-md);
		border-width: var(--space-xxxs);

		@include breakpoint(md) {
			margin-left: calc(-1 * var(--space-xl));
		}

		cite {
			font-size: var(--text-base-size);
		}
	}

	&.is-style-plain {
		margin-left: 0;
		padding-left: 0;
		border: 0;
	}

	&.is-style-large {
		border: 0;
		padding-left: 0;
		font-size: var(--text-lg);

		@include breakpoint(md) {
			margin-left: calc(-1 * var(--space-xxl));
		}

		p {
			font-style: italic;
			margin-bottom: var(--space-xxxs);
		}

		cite,
		.wp-block-quote__citation {
			margin-top: 0;
			font-size: var(--text-md);
		}
	}
}
