////
/// Quote block.
///
/// @group  Core
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints';
@use '../../tools/extends';

.wp-block-quote {
	@extend %blockquote;

	p {
		margin-bottom: var(--space-sm);
	}

	cite,
	.wp-block-quote__citation {
		@extend %cite;
	}

	&.is-style-large {
		border: 0;
		padding-left: 0;
		font-size: 1.25em;

		@include breakpoints.breakpoint(md) {
			width: 120%;
			transform: translateX(-8.33%);
		}

		p {
			font-style: italic;
		}
	}
}
