////
/// Subhead block.
///
/// @group  Blocks
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

.wp-block-subhead {
	font-size:  1.125em;
	font-style: italic;
	opacity:    0.75;
}
