////
/// Video block.
///
/// @group  Core
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

.wp-block-video {
	margin-bottom: var(--component-padding);

	&:last-child {
		margin-bottom: 0;
	}

	video {
		width: 100%;

		&[poster] {
			object-fit: cover;
		}
	}
}
