{
	"extends": [
		"plugin:@wordpress/eslint-plugin/es5"
	],
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true
	},
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"comma-dangle": [ 2, "only-multiline" ],
		"linebreak-style": 0,
		"no-multi-spaces": 0,
		"quotes": [ 2, "single", { "avoidEscape": true, "allowTemplateLiterals": true } ],
		"space-in-parens": 0,
		"wrap-iife": 0
	}
}
