{
	"plugins": [
		"stylelint-scss"
	],
	"extends": "@wordpress/stylelint-config/scss",
	"rules": {
		"at-rule-empty-line-before": null,
		"block-no-empty": null,
		"color-named": null,
		"declaration-colon-space-after": null,
		"declaration-colon-space-before": null,
		"function-parentheses-space-inside": null,
		"no-descending-specificity": null,
		"no-empty-source": null,
		"rule-empty-line-before": null,
		"string-quotes": null,
		"selector-class-pattern": null
	}
}
