////
/// Helper classes.
///
/// @group  Utilities
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

@use 'tools/functions';

/// Loops through the theme colors and adds utility classes for them. Primarily,
/// these are the `.has-{$color}-color` and `.has-{$color}-background-color`
/// classes added via Gutenberg. However, they are useful elsewhere.
@each $color-name, $color-value in functions.block-colors() {

	.has-#{ $color-name }-color {
		color: #{ $color-value };
	}

	.has-#{ $color-name }-background-color {
		background-color: #{ $color-value };

		&.wp-block-cover {
			&::before {
				background-color: #{ $color-value };
			}
		}
	}
}

@each $gradient-name, $gradient-value in functions.block-gradients() {

	.has-#{ $gradient-name }-gradient-background {
		background: #{ $gradient-value };
	}
}

/// Loops through the editor font sizes and adds utility classes for them. This
/// handles the `.has-{$size}-font-size` classes added via Gutenberg, which may
/// be useful elsewhere.
@each $font-size-name, $font-size-value in functions.editor-font-sizes() {

	.has-#{ $font-size-name }-font-size {
		font-size: #{ $font-size-value };
	}
}
