////
/// Set up and define colors.
///
/// @group  Settings
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

/// Returns a map of block colors in name-value format. These are the colors
/// defined via the `editor-color-palette` setting in `app/functions-setup.php`
/// for the WordPress editor.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined colors.
@function block-colors() {

	@return (
		primary: var(--color-primary),
		accent: var(--color-accent),
		success: var(--color-success),
		error: var(--color-error),
		warning: var(--color-warning),
		higher-contrast: var(--color-contrast-higher),
		high-contrast: var(--color-contrast-high),
		medium-contrast: var(--color-contrast-medium),
		low-contrast: var(--color-contrast-low),
		lower-contrast: var(--color-contrast-lower),
	);
}

// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/colors

// --------------------------------

:root,
[data-theme="default"] {
	// main
	@include defineColorHSL(--color-primary-darker, 220, 90%, 36%);
	@include defineColorHSL(--color-primary-dark, 220, 90%, 46%);
	@include defineColorHSL(--color-primary, 220, 90%, 56%);
	@include defineColorHSL(--color-primary-light, 220, 90%, 66%);
	@include defineColorHSL(--color-primary-lighter, 220, 90%, 76%);

	@include defineColorHSL(--color-accent-darker, 355, 90%, 41%);
	@include defineColorHSL(--color-accent-dark, 355, 90%, 51%);
	@include defineColorHSL(--color-accent, 355, 90%, 61%);
	@include defineColorHSL(--color-accent-light, 355, 90%, 71%);
	@include defineColorHSL(--color-accent-lighter, 355, 90%, 81%);

	// black + white
	// @include defineColorHSL(--color-black, 240, 8%, 12%);
	@include defineColorHSL(--color-black, 0, 0%, 0%);
	@include defineColorHSL(--color-white, 0, 0%, 100%);

	// feedback
	@include defineColorHSL(--color-success-darker, 94, 48%, 36%);
	@include defineColorHSL(--color-success-dark, 94, 48%, 46%);
	@include defineColorHSL(--color-success, 94, 48%, 56%);
	@include defineColorHSL(--color-success-light, 94, 48%, 66%);
	@include defineColorHSL(--color-success-lighter, 94, 48%, 76%);

	@include defineColorHSL(--color-error-darker, 355, 90%, 41%);
	@include defineColorHSL(--color-error-dark, 355, 90%, 51%);
	@include defineColorHSL(--color-error, 355, 90%, 61%);
	@include defineColorHSL(--color-error-light, 355, 90%, 71%);
	@include defineColorHSL(--color-error-lighter, 355, 90%, 81%);

	@include defineColorHSL(--color-warning-darker, 46, 100%, 41%);
	@include defineColorHSL(--color-warning-dark, 46, 100%, 51%);
	@include defineColorHSL(--color-warning, 46, 100%, 61%);
	@include defineColorHSL(--color-warning-light, 46, 100%, 71%);
	@include defineColorHSL(--color-warning-lighter, 46, 100%, 81%);

	@include defineColorHSL(--color-info-darker, 188, 78%, 61%);
	@include defineColorHSL(--color-info-dark, 188, 78%, 51%);
	@include defineColorHSL(--color-info, 188, 78%, 41%);
	@include defineColorHSL(--color-info-light, 188, 78%, 31%);
	@include defineColorHSL(--color-info-lighter, 188, 78%, 21%);

	@include defineColorHSL(--color-boldoakdesign-foreground, 19, 84%, 55%);
	@include defineColorHSL(--color-boldoakdesign-background, 354, 22%, 18%);

	// color contrasts
	@include defineColorHSL(--color-bg, 0, 0%, 100%);
	@include defineColorHSL(--color-contrast-lower, 0, 0%, 95%);
	@include defineColorHSL(--color-contrast-low, 240, 1%, 83%);
	@include defineColorHSL(--color-contrast-medium, 240, 1%, 48%);
	@include defineColorHSL(--color-contrast-high, 240, 4%, 20%);
	@include defineColorHSL(--color-contrast-higher, 240, 8%, 12%);
}

[data-theme="dark"] {
	// main
	@include defineColorHSL(--color-primary-darker, 197, 73%, 37%);
	@include defineColorHSL(--color-primary-dark, 197, 73%, 47%);
	@include defineColorHSL(--color-primary, 197, 73%, 57%);
	@include defineColorHSL(--color-primary-light, 197, 73%, 67%);
	@include defineColorHSL(--color-primary-lighter, 197, 73%, 95%);

	// color contrasts
	@include defineColorHSL(--color-bg, 240, 8%, 12%);
	@include defineColorHSL(--color-contrast-lower, 240, 6%, 19%);
	@include defineColorHSL(--color-contrast-low, 240, 3%, 27%);
	@include defineColorHSL(--color-contrast-medium, 240, 1%, 57%);
	@include defineColorHSL(--color-contrast-high, 0, 0%, 89%);
	@include defineColorHSL(--color-contrast-higher, 0, 0%, 100%);

	@include defineColorHSL(--color-boldoakdesign-foreground, 354, 22%, 18%);
	@include defineColorHSL(--color-boldoakdesign-background, 19, 84%, 55%);

	--shadow-sm: 0 1px 2px rgba(255, 255, 255, 0.085), 0 1px 8px rgba(255, 255, 255, 0.1);
	--shadow-md: 0 1px 8px rgba(255, 255, 255, 0.1), 0 8px 24px rgba(255, 255, 255, 0.15);
	--shadow-lg: 0 1px 8px rgba(255, 255, 255, 0.1), 0 16px 48px rgba(255, 255, 255, 0.1), 0 24px 60px rgba(255, 255, 255, 0.1);
}

// --------------------------------

// (END) Global Editor Code

// --------------------------------
