////
/// Width and height settings.
///
/// @group  Settings
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

:root,
body {
	--radius: 0.25em;
	--radius-pill: 9999px;
	--radius-circle: 50%;
}
