////
/// Set up and define fonts.
///
/// @group  Settings
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

/// Returns a map of editor font sizes in name-value format. These are the sizes
/// defined via the `editor-font-sizes` setting in `app/functions-setup.php`
/// for the WordPress editor.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined font sizes.
@function editor-font-sizes() {

	@return (
		small: 16px,
		regular: 20px,
		large: 25px,
		larger: 31px
	);
}

:root,
body {
	--font-primary: sans-serif;
	--font-heading: var(--font-primary);
	--font-mono: monospace;
	--font-weight-bold: 700;
	--text-base-size: 1.25em;
}
