////
/// Typography settings.
///
/// @group  Settings
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://codyhouse.co/ds/globals/typography
/// @link   https://boldoak.design/themes/garrick
////

@use 'tools/mixins';

:root {
	// body font size
	--text-base-size: 1em;

	// type scale
	--text-scale-ratio: 1.2;
	--text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
	--text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
	--text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-lg: calc(var(--text-md) * var(--text-scale-ratio));
	--text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
	--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
	--text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

	// line-height
	--body-line-height: 1.4;
	--heading-line-height: 1.2;

	// capital letters - used in combo with the lhCrop mixin
	--font-primary-capital-letter: 1;

	--line-height-multiplier: 1.13;
	--text-vspace-multiplier: 1.2;
	--component-body-line-height: calc(var(--body-line-height) * var(--line-height-multiplier, 1));
	--component-heading-line-height: calc(var(--heading-line-height) * var(--line-height-multiplier, 1));
}

@supports (--css: variables) {

	:root {

		@include mixins.breakpoint(md) {
			--text-base-size: 1.25em;
			--text-scale-ratio: 1.25;
		}
	}
}
