////
/// Block editor alignment overrides.
///
/// @group  Editor
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

.alignwide:not(.alignfull),
.alignfull,
[data-align="wide"],
[data-align="full"] {
	margin-left: auto;
	margin-right: auto;
}

.wp-block.alignwide,
.wp-block[data-align="wide"],
.block-editor-block-list__block[data-align="wide"] {
	max-width: var(--max-width-md);
}

.wp-block.alignfull,
.wp-block[data-align="full"],
.block-editor-block-list__block[data-align="full"] {
	max-width: 100vw;
}
