.wp-block-gallery {

	.components-form-file-upload {
		width: 100%;
	}

	.components-placeholder__fieldset .components-form-file-upload {
		width: auto;
	}

	.block-editor-media-placeholder {
		margin: auto;
	}

	.block-editor-rich-text {
		width: 100%;
	}

	.blocks-gallery-grid {

		// An additional specificity override is necessary because Gutenberg.
		.blocks-gallery-item {
			margin: 8px;
		}
	}
}
