////
/// Gallery overrides.
///
/// @group  Editor
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints';

.wp-block-gallery {

	.components-form-file-upload {
		width: 100%;
	}

	.components-placeholder__fieldset .components-form-file-upload {
		width: auto;
	}

	&.block-editor-media-placeholder,
	.block-editor-media-placeholder {
		margin: auto;
		padding: var(--space-xs);
	}

	.block-editor-rich-text {
		width: 100%;
	}
}

.blocks-gallery-grid {
	margin-left: 0;
}