////
/// Jetpack business hours block.
///
/// @group  Jetpack
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

.jetpack-business-hours {
	display: flex;
	flex-wrap: wrap;

	dt,
	dd {
		float: none;
	}

	dt {
		margin: 0;
		font-weight: var(--font-weight-bold);
		flex-basis: 25%;
	}

	dd {
		flex-basis: 75%;
	}
}
