@use '~codyhouse-framework/main/assets/css/base/breakpoints' as *;
@use '~codyhouse-framework/main/assets/css/base/mixins' as *;

.contact-form {
	--gap: var(--space-md);
	--gap-x: var(--gap);
	--gap-y: var(--gap);
	--offset: var(--gap-x);
	display: flex;
	flex-wrap: wrap;
	margin-bottom: calc(var(--gap-y) * -1);
	margin-left: calc(var(--gap-x) * -1);

	> * {
		flex-basis: 100%;
		max-width: 100%;
		min-width: 0;
		margin-bottom: var(--gap-y);
		margin-left: var(--offset);
	}

	.grunion-field-wrap {
		border: 0;
		flex-basis: calc(100% - 0.01px - var(--gap-x));
		max-width: calc(100% - 0.01px - var(--gap-x));
	}

	.grunion-field-label,
	.grunion-radio-label {
		display: inline-block;
	}

	.grunion-field-label {

		&.checkbox {
			width: 100%;
		}

		&:not(.checkbox) {
			font-size: var(--text-sm);
			margin-bottom: var(--space-xxs);
		}
	}

	.grunion-radio-label {
		width: 100%;
	}

	input[type="email"],
	input[type="tel"],
	input[type="text"],
	input[type="url"],
	textarea {
		@include reset;
		font-size: var(--form-control-font-size);
		padding: var(--form-control-padding-y) var(--form-control-padding-x);
		border-radius: var(--form-control-radius);
		border: 2px solid var(--color-contrast-low);
		margin-bottom: 0;
		width: 100%;
	}

	@include breakpoint(md) {
		$widths: 25, 50, 75;
		@each $width in $widths {

			.grunion-field-width-#{$width}-wrap {
				flex-basis: calc(#{$width * 1%} - 0.01px - var(--gap-x));
				max-width: calc(#{$width * 1%} - 0.01px - var(--gap-x));
			}
		}
	}
}

.form-errors .form-error-message {
	color: var(--color-error);
}

#jetpack-check-feedback-spam {
	margin: 1px 8px 0 0;
}

.jetpack-check-feedback-spam-spinner {
	display: inline-block;
	margin-top: 7px;
}

.grunion-field-checkbox-wrap,
.grunion-field-consent-wrap {
	align-self: center;
}

/**
 * For the "Empty Spam" button on
 * /wp-admin/edit.php?post_status=spam&post_type=feedback
 */
.jetpack-empty-spam-container {
	display: inline-block;
}

.jetpack-empty-spam {
	display: inline-block;
}

.jetpack-empty-spam-spinner {
	display: inline-block;
	margin-top: 7px;
}
