////
/// Jetpack related posts block.
///
/// @group  Jetpack
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints';

// The id and class increase specificity, allowing us
// to override Jetpack's ridiculous high-specificity styles.
#jp-relatedposts.jp-relatedposts {

	@include breakpoints.breakpoint(md) {
		margin-right: calc(-50vw + 50%);
		width: auto;
		max-width: calc(100% + 2 * var(--space-xxl));
		margin-left: calc(-1 * var(--space-xxl));
	}

	h3.jp-relatedposts-headline {
		font-size: var(--text-md);

		em {
			font-family: var(--font-heading);
			font-weight: var(--font-weight-heading);

			&::before {
				border: 0;
				margin: 0;
			}
		}
	}

	.jp-relatedposts-grid {

		h4.jp-relatedposts-post-title {
			margin-top: var(--space-xxxs);
			font-family: var(--font-heading);
			font-size: var(--text-lg);
			line-height: var(--component-heading-line-height);

			a {
				font-weight: var(--font-weight-heading);
			}
		}

		.jp-relatedposts-post-excerpt,
		.jp-relatedposts-post-date,
		.jp-relatedposts-post-context {
			font-size: var(--text-sm);
			line-height: var(--component-body-line-height);
		}
	}
}

.jp-relatedposts-post-a {
	color: var(--color-contrast-high);
}
