////
/// Jetpack subscriptions block.
///
/// @group  Jetpack
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints';
@use '~codyhouse-framework/main/assets/css/base/mixins';

.wp-block-jetpack-subscriptions {
	margin-bottom: var(--space-md);

	form {
		display: flex;
	}

	&.wp-block-jetpack-subscriptions__use-newline {

		form {
			display: block;
		}
	}

	p {
		color: var(--color-contrast-medium);
		height: var(--space-lg);
	}

	input[type="email"] {
		@include mixins.reset;
		background-color: var(--color-bg);
		display: flex;
		flex-grow: 1;
		font-size: var(--form-control-font-size, 1em);
		padding: var(--form-control-padding-y, 0.5em) var(--form-control-padding-x, 0.75em);
		border-radius: var(--form-control-radius, 0.25em);
		border: 2px solid var(--color-contrast-low);
		margin-bottom: 0;
		line-height: normal;

		@include breakpoints.breakpoint(md) {
			margin-bottom: 0;
		}
	}

	button[type="submit"] {
		background-color: var(--color-contrast-low);
		color: var(--color-contrast-high);
		white-space: nowrap;
	}
}
