////
/// App header component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

@use '~codyhouse-framework/main/assets/css/base' as *;

:root {}

.app-header {
	position: relative;
	z-index: var(--zindex-header);

	// Wrapper around the title and description.
	&__branding {
		height: inherit;
	}

	// Site title link.
	&__title-link {
		text-decoration: none;
		color: var(--color-contrast-high);
		font-family: var(--font-heading);
		font-weight: var(--font-weight-heading);

		&:hover {
			text-decoration: underline;
		}
	}

	// The site description.
	&__description {
		opacity: 0.8;
	}

	// Navigation wrapper.
	&__layout {
		padding-top: var(--space-xs);
		padding-bottom: var(--space-xs);

		@include breakpoint(md) {
			padding-top: var(--space-md);
			padding-bottom: var(--space-md);
		}
	}

	&__nav {}

	[class*="-template-cover-header"] & {
		position: absolute;
		top: 0;
		width: 100%;
	}

	// Logo image. Output from the `custom-logo` feature.
	&__logo {
		display: block;
		max-height: 100%;
		width: auto;
		height: 2.5em;

		// Logo link. Output from the `custom-logo` feature.
		&-link {
			display: block;
			height: inherit;
		}
	}

	// The site title.
	&__title {
		font-size: 1.25em;
		line-height: var(--body-line-height);

		.app-header__logo-link + & {
			margin-left: var(--space-xs);
		}
	}

	// Menu button
	&__nav-trigger {
		display: inline-flex;
		padding-right: 0;
		z-index: var(--zindex-fixed-element);

		@include breakpoint(md) {
			display: none;
		}

		// Menu icon
		&-icon {
			position: relative;
			display: block;
			height: 2px;
			width: 1em;
			background-color: currentColor;
			margin-right: var(--space-xxs);
			transition: 0.2s;

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: inherit;
				height: inherit;
				background-color: currentColor;
				transition: 0.2s;
			}

			&::before {
				transform: translateY(-5px);
			}

			&::after {
				transform: translateY(5px);
			}
		}
	}

	&__search {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;
		height: 3.25em;

		.search-input {
			position: static;
		}

		.search-hide {
			position: absolute;
			right: 0;
			top: var(--space-xxs);
			bottom: var(--space-xxs);
			margin: auto;
		}
	}
}
