////
/// App header component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

:root {
	--app-header-height: 50px;
	--app-header-height-md: 70px;
}

.app-header {
	position: relative;
	background-color: var(--color-bg);
	height: var(--app-header-height);
	z-index: var(--zindex-header);
	transition: transform 200ms;

	@include breakpoint(md) {
		height: var(--app-header-height-md);
	}

	// Wrapper around the title and description.
	&__branding {
		height: inherit;
	}

	// Site title link.
	&__title-link {
		color: var(--color-contrast-high);
		font-family: var(--font-heading);
		font-weight: var(--font-weight-bold);
	}

	// The site description.
	&__description {
		color: var(--color-contrast-medium);
	}

	// Navigation wrapper.
	&__nav {}

	&__layout {
		height: var(--app-header-height);

		@include breakpoint(md) {
			height: var(--app-header-height-md);
		}
	}

	.post-template-hero-header &,
	.page-template-hero-header &,
	.post-template-cover-header &,
	.page-template-cover-header & {
		margin-bottom: calc(var(--app-header-height) * -1);
		background-color: transparent;
		background-image: linear-gradient(hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.5), transparent);

		@include breakpoint(md) {
			margin-bottom: calc(var(--app-header-height-md) * -1);
		}

		.app-header__branding,
		.app-header__nav {
			--color-contrast-lower: hsl(240, 6%, 19%);
			--color-contrast-low: hsl(240, 3%, 27%);
			--color-contrast-medium: hsl(240, 1%, 57%);
			--color-contrast-high: hsl(0, 0%, 89%);
			--color-contrast-higher: hsl(0, 0%, 100%);
			color: var(--color-contrast-high);
		}

		.menu__sub-menu {
			--color-contrast-lower: hsl(0, 0%, 95%);
			--color-contrast-low: hsl(240, 1%, 83%);
			--color-contrast-medium: hsl(240, 1%, 48%);
			--color-contrast-high: hsl(240, 4%, 20%);
			--color-contrast-higher: hsl(240, 8%, 12%);
		}

		.app-header__title-link {
			color: var(--color-contrast-higher);
		}

		.app-header__description {
			color: var(--color-contrast-high);
		}
	}

	.post-template-hero-header[data-theme="dark"] &,
	.page-template-hero-header[data-theme="dark"] &,
	.post-template-cover-header[data-theme="dark"] &,
	.page-template-cover-header[data-theme="dark"] & {
		background-image: linear-gradient(hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), 0.5), transparent);
	}

	// Reset override
	[data-theme="dark"] & .menu__sub-menu {
		--color-contrast-lower: hsl(240, 6%, 19%);
		--color-contrast-low: hsl(240, 3%, 27%);
		--color-contrast-medium: hsl(240, 1%, 57%);
		--color-contrast-high: hsl(0, 0%, 89%);
		--color-contrast-higher: hsl(0, 0%, 100%);
	}

	// Logo link. Output from the `custom-logo` feature.
	&__logo-link {
		display: block;
		height: inherit;
		padding-top: var(--space-xxxs);
		padding-bottom: var(--space-xxxs);
	}

	// Logo image. Output from the `custom-logo` feature.
	&__logo {
		display: block;
		max-height: 100%;
		width: auto;
	}

	// The site title.
	&__title {
		font-size: 1.25em;
		line-height: var(--body-line-height);

		.app-header__logo-link + & {
			margin-left: var(--space-xs);
		}
	}

	// Menu button
	&__nav-trigger {
		display: inline-flex;
		padding-right: 0;
		z-index: var(--zindex-fixed-element);

		@include breakpoint(md) {
			display: none;
		}

		// Menu icon
		&-icon {
			position: relative;
			display: block;
			height: 2px;
			width: 1em;
			background-color: currentColor;
			margin-right: var(--space-xxs);
			transition: 0.2s;

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: inherit;
				height: inherit;
				background-color: currentColor;
				transition: 0.2s;
			}

			&::before {
				transform: translateY(-5px);
			}

			&::after {
				transform: translateY(5px);
			}
		}

		&[aria-expanded="true"] .app-header__nav-trigger-icon {
			background-color: transparent;

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}
	}

	&__search {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;

		.search-input {
			position: static;
		}

		.search-hide {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}
