////
/// App header component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints';

:root {}

.app-header {
	position: relative;
	z-index: var(--zindex-header);

	// Wrapper around the title and description.
	&__branding {
		height: inherit;
	}

	// Site title link.
	&__title-link {
		text-decoration: none;
		color: var(--color-contrast-high);
		font-family: var(--font-heading);
		font-weight: var(--font-weight-bold);

		&:hover {
			text-decoration: underline;
		}
	}

	// The site description.
	&__description {
		opacity: 0.8;
	}

	// Navigation wrapper.
	&__nav {}

	&__layout {}

	.post-template-hero-header &,
	.page-template-hero-header {

		.app-header__branding,
		.app-header__nav {
			--color-contrast-lower: hsl(240, 6%, 19%);
			--color-contrast-low: hsl(240, 3%, 27%);
			--color-contrast-medium: hsl(240, 1%, 57%);
			--color-contrast-high: hsl(0, 0%, 89%);
			--color-contrast-higher: hsl(0, 0%, 100%);
			color: var(--color-contrast-high); // Fixes icon color
		}

		.menu__sub-menu {
			--color-contrast-lower: hsl(0, 0%, 95%);
			--color-contrast-low: hsl(240, 1%, 83%);
			--color-contrast-medium: hsl(240, 1%, 48%);
			--color-contrast-high: hsl(240, 4%, 20%);
			--color-contrast-higher: hsl(240, 8%, 12%);
		}
	}

	.post-template-hero-header &,
	.page-template-hero-header &,
	.post-template-cover-header &,
	.page-template-cover-header & {
		position: absolute;
		width: 100%;
	}

	// Logo link. Output from the `custom-logo` feature.
	&__logo-link {
		display: block;
		height: inherit;
		padding-top: var(--space-xxxs);
		padding-bottom: var(--space-xxxs);
	}

	// Logo image. Output from the `custom-logo` feature.
	&__logo {
		display: block;
		max-height: 100%;
		width: auto;
		height: 2.5em;
	}

	// The site title.
	&__title {
		font-size: 1.25em;
		line-height: var(--body-line-height);

		.app-header__logo-link + & {
			margin-left: var(--space-xs);
		}
	}

	// Menu button
	&__nav-trigger {
		display: inline-flex;
		padding-right: 0;
		z-index: var(--zindex-fixed-element);

		@include breakpoints.breakpoint(md) {
			display: none;
		}

		// Menu icon
		&-icon {
			position: relative;
			display: block;
			height: 2px;
			width: 1em;
			background-color: currentColor;
			margin-right: var(--space-xxs);
			transition: 0.2s;

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: inherit;
				height: inherit;
				background-color: currentColor;
				transition: 0.2s;
			}

			&::before {
				transform: translateY(-5px);
			}

			&::after {
				transform: translateY(5px);
			}
		}
	}

	&__search {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;

		.search-input {
			position: static;
		}

		.search-hide {
			position: absolute;
			right: 0;
			top: var(--space-xxs);
			bottom: var(--space-xxs);
			margin: auto;
		}
	}
}
