////
/// Button component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://codyhouse.co/ds/globals/colors
/// @link   https://boldoak.design/themes/garrick
////

@use '~codyhouse-framework/main/assets/css/base/mixins';

:root {
	--btn-font-size: 1em;
	--btn-font-size-sm: calc(var(--btn-font-size) - 0.2em);
	--btn-font-size-md: calc(var(--btn-font-size) + 0.2em);
	--btn-font-size-lg: calc(var(--btn-font-size) + 0.4em);
	--btn-padding-x: var(--space-sm); // padding left + right
	--btn-padding-y: var(--space-xs); // padding top + bottom
	--btn-radius: var(--radius);
}

.btn {
	// basic button style
	--color-shadow: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.15);
	cursor: pointer;
}

// themes
.btn--primary {
	@include mixins.fontSmooth;
}

.btn--accent {
	@include mixins.fontSmooth;
}

.btn--subtle {}

// feedback
.btn--disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

// ghost buttons
.btn--primary-outline {
	box-shadow: inset 0 0 0 2px var(--color-primary);
}

.btn--subtle-outline {
	box-shadow: inset 0 0 0 2px var(--color-contrast-medium);
}

.btn--accent-outline {
	box-shadow: inset 0 0 0 2px var(--color-accent);
}

// sizes
.btn--sm {}

.btn--md {}

.btn--lg {}
