////
/// Entry component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints' as *;
@use '~codyhouse-framework/main/assets/css/base/mixins' as *;

.entry {
	position: relative;

	.grid & {

		&::after {
			display: none;
		}
	}

	p,
	blockquote,
	ul li,
	ol li {}

	// Type of entry/post.
	&--type-post {}

	&--type-page {}

	// Sticky posts.
	&.sticky {}

	&__wrapper {}

	&__excerpt {}

	// Featured image.
	&__featured {

		.template--cover-header & {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 0;
			opacity: 0.5;
		}
	}

	&__image {
		display: block;
		margin: auto;

		.template--hero-header &,
		.template--cover-header &,
		.template--hero-inset-header & {
			object-fit: cover;
			width: 100%;
		}

		.template--hero-header &,
		.template--hero-inset-header & {
			max-height: 60vh;
		}

		.template--cover-header & {
			height: 100%;
		}
	}

	&__header {

		.template--cover-header & {
			position: relative;
			min-height: 100vh;

			> div {
				position: relative;
				z-index: 1;
			}
		}

		.template--hero-inset-header & {
			background-color: var(--color-bg);
			padding: var(--space-sm) var(--space-md) 0 var(--space-md);
			margin-left: calc(-1 * var(--space-md));
			margin-right: calc(-1 * var(--space-md));
		}

		.template--hero-inset-header.single-has-post-thumbnail & {

			@include breakpoint(sm) {
				margin-top: calc(-1 * var(--space-xxl));
			}
		}
	}

	// Entry title.
	&__title {

		a {
			color: var(--color-contrast-high);
		}
	}

	// Full entry and summary/excerpt shared styles.
	&__content,
	&__summary {}

	// Full entry content.
	&__content {}

	// Summary/Excerpt.
	&__summary {}

	&__byline,
	&__footer {}

	&__footer {}

	&__published {}

	// Individual metadata items.
	&__author {}

	&__author,
	&__author-link,
	&__permalink {
		color: var(--color-contrast-medium);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__author,
	&__author-link {

		.single & {
			color: inherit;
		}
	}

	// Meta wrappers.
	&__byline {

		.sep {
			display: inline;
		}

		.entry__permalink,
		.entry__published {
			display: inline;
		}
	}

	&__comments {}

	// Categories and tags.
	&__terms {

		a {
			@include reset; // reset button native style
			text-decoration: none;
			font-size: var(--text-sm);
			padding: var(--space-xxxs) var(--space-xs);
			border: 2px solid var(--color-contrast-low);
			border-radius: var(--radius-pill);
		}

		&--category {

			a {
				background-color: var(--color-contrast-low);

				&:hover {
					background-color: var(--color-primary);
					color: var(--color-white);
				}
			}
		}

		a:hover {
			border-color: var(--color-primary);
			text-decoration: none;
		}

		&--post_tag {}
	}
}
