/* --------------------------------

Title: Hero
Descr: A full-width callout section

-------------------------------- */

.hero {
	padding: var(--space-md) 0;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	background-color: var(--color-contrast-lower);

	.hero__label {
		color: alpha(var(--color-contrast-high), 0.6);
	}
}

.hero--lg {
	padding: var(--space-lg) 0;
}

.hero--xl {
	padding: var(--space-xl) 0;
}

.hero--xxl {
	padding: var(--space-xxl) 0;
}

.hero--full-screen {
	min-height: 100vh;
}

.hero--center {
	text-align: center;

	.hero__cta {
		justify-content: center;
	}
}
