////
/// Icon component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://codyhouse.co/ds/globals/colors
/// @link   https://boldoak.design/themes/garrick
////

.icon {
	color: currentColor;
	stroke: var(--color-primary);

	&.color-inherit {
		stroke: currentColor;
	}

	&.color-contrast-lower {
		stroke: var(--color-contrast-lower);
	}

	&.color-contrast-low {
		stroke: var(--color-contrast-low);
	}

	&.color-contrast-medium {
		stroke: var(--color-contrast-medium);
	}

	&.color-contrast-high {
		stroke: var(--color-contrast-high);
	}

	&.color-contrast-higher {
		stroke: var(--color-contrast-higher);
	}

	&.color-primary {
		stroke: var(--color-primary);
	}

	&.color-accent {
		stroke: var(--color-accent);
	}

	&.color-success {
		stroke: var(--color-success);
	}

	&.color-warning {
		stroke: var(--color-warning);
	}

	&.color-error {
		stroke: var(--color-error);
	}

	&.color-info {
		stroke: var(--color-info);
	}

	&.color-white {
		stroke: var(--color-white);
	}

	&.color-black {
		stroke: var(--color-black);
	}

	.jetpack-social-navigation &,
	&-sun,
	&-moon,
	&-heart {
		stroke: none; // remove for colored or filled icons
	}

	// double up the specificity to override jetpack.css
	.jetpack-social-navigation.jetpack-social-navigation-svg & {
		width: 1.5em;
		height: 1.5em;
	}

	&-boldoakdesign {
		background-color: var(--color-boldoakdesign-background);
		color: var(--color-boldoakdesign-foreground);
		border-radius: 50%;
		padding: 0.1em;

		.icon-text & {
			color: var(--color-boldoakdesign-foreground);
		}
	}
}
