.icon {
	// override for codyhouse-framework/main/assets/css/global/icons
	color: currentColor;
	stroke: var(--color-primary);

	&.color-inherit {
		stroke: currentColor;
	}

	&--middle {
		vertical-align: middle;
	}

	.jetpack-social-navigation &,
	&-sun,
	&-moon,
	&-heart {
		stroke: none; // remove for colored or filled icons
	}

	// double up the specificity to override jetpack.css
	.jetpack-social-navigation.jetpack-social-navigation-svg & {
		width: 1.5em;
		height: 1.5em;
	}

	&-boldoakdesign {
		background-color: var(--color-boldoakdesign-background);
		color: var(--color-boldoakdesign-foreground);
		border-radius: 50%;
		padding: 0.1em;

		.icon-text & {
			color: var(--color-boldoakdesign-foreground);
		}
	}
}
