////
/// Media wrapper component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

.media-wrapper {

	$media-wrapper-aspect-ratios: (
		(21 9),
		(16 9), // default for .media-wrapper
		(4 3),
		(1 1)
	);

	@each $aspect-ratio in $media-wrapper-aspect-ratios {
		$aspect-ratio-x: nth($aspect-ratio, 1);
		$aspect-ratio-y: nth($aspect-ratio, 2);

		&--#{$aspect-ratio-x}\:#{$aspect-ratio-y} {
			padding-bottom: calc((#{$aspect-ratio-y} / #{$aspect-ratio-x}) * 100%);
		}
	}

	&--icon {
		width: var(--space-xl);
		height: var(--space-xl);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}
