////
/// Post navigation components.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

.nav-links {
	display: flex;
	justify-content: space-between;

	a {

		&:hover {
			text-decoration: none;
		}
	}
}

.nav-previous {
	margin-right: auto;
}

.nav-next {
	margin-left: auto;
}
