////
/// Nav menu component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints';

.menu {

	&__items {
		list-style: none;
		display: flex;
		padding: 0;
	}

	&__item {
		position: relative;
		flex-shrink: 0;

		@include breakpoints.breakpoint(md) {
			align-self: center;
		}

		.jetpack-social-navigation &:not(:first-child) {
			margin-left: var(--space-xxs);
		}
	}

	&__link {
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		color: var(--color-contrast-higher);

		&:hover {
			text-decoration: underline;
		}

		.btn > & {
			color: inherit;
		}

		.jetpack-social-navigation & {
			justify-content: center;
			width: auto;
			height: auto;
		}
	}

	&--primary {
		position: absolute;
		top: 100%;
		left: var(--space-md);
		right: var(--space-md);
		box-shadow: var(--shadow-sm);
		background-color: var(--color-contrast-lower);
		padding: var(--space-xxxs) 0;
		border-radius: var(--radius);
		display: none;

		&.is-visible {
			display: block;
		}

		@include breakpoints.breakpoint(md) {
			position: static;
			background-color: transparent;
			padding: 0;
			box-shadow: none;
			display: block;
		}

		.menu__items {
			flex-direction: column;

			@include breakpoints.breakpoint(md) {
				flex-direction: row;
			}
		}

		.menu__item {

			&.btn {
				justify-content: flex-start;
				margin-left: var(--btn-padding-x);
				margin-right: var(--btn-padding-x);

				@include breakpoints.breakpoint(md) {
					margin: 0;
				}

				> .menu__link {
					padding-left: 0;
					padding-right: 0;
				}
			}

			@include breakpoints.breakpoint(md) {

				&:not(:first-child) {
					margin-left: var(--space-sm);
				}
			}
		}

		.menu__link {
			display: flex;
			align-items: center;
			// justify-content: space-between;
			padding: var(--space-xxxs) var(--space-sm);

			@include breakpoints.breakpoint(md) {
				padding: 0;
			}
		}

		.menu__sub-menu {
			display: none;
			list-style: none;
			padding: var(--space-xxxxs) 0;

			@include breakpoints.breakpoint(md) {
				position: absolute;
				right: 0;
				width: 200px;
				z-index: var(--zindex-popover);
				box-shadow: var(--shadow-sm);
				background-color: var(--color-contrast-lower);
				border-radius: var(--radius);
			}

			.menu__item {
				margin: 0;
			}

			.menu__link {

				@include breakpoints.breakpoint(md) {
					padding: var(--space-xxxs) var(--space-xs);

					&:hover {
						background-color: var(--color-contrast-low);
					}
				}
			}
		}

		.menu__item:hover > .menu__sub-menu {
			display: block;
		}
	}

	&--footer {

		.menu__sub-menu {
			display: none;
		}

		.menu__item:not(:first-child) {
			margin-left: var(--space-md);

			&::before {
				content: '\B7';
				position: absolute;
				left: calc(-1 * var(--space-sm));
			}
		}
	}

	&--widget {

		.menu__items {
			flex-direction: column;
		}

		.menu__item {
			margin: 0;
			align-self: flex-start;
		}

		.menu__link {
			margin-bottom: var(--space-xs);
		}

		.menu__item.btn .menu__link {
			margin: 0;
		}

		.menu__sub-menu {
			position: static;
			display: block;
			margin-left: var(--space-sm);

			// Stop indenting after four levels
			.menu__sub-menu .menu__sub-menu .menu__sub-menu .menu__sub-menu {
				margin: 0;
			}
		}
	}

	.jetpack-social-navigation & {
		margin: 0;
	}
}

.menu-toggle {

	.menu-toggle__icon {
		transition: transform 200ms;
	}

	.menu-toggle__icon--on {
		display: none;
	}

	&[aria-expanded="true"] {

		.menu-toggle__icon--off {
			display: none;
		}

		.menu-toggle__icon--on {
			display: block;
		}
	}
}
