////
/// Nav menu component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/trunc
////

:root {
	--dropdown-item-padding: var(--space-xxs) var(--space-sm);
}

.menu {

	// Menu title.
	&__title {
		color: var(--color-contrast-medium);
		margin-bottom: var(--space-xs);

		@include breakpoint(md) {
			position: absolute;
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: inset(50%);
		}
	}

	// Item link.
	&__link {
		display: flex;
		justify-content: space-between;
		color: var(--color-contrast-higher);
		text-decoration: none;
		word-break: normal;
		word-wrap: normal;
		white-space: normal;
		vertical-align: middle;

		@include breakpoint(md) {
			display: inline-flex;
		}

		&:hover {
			color: var(--color-contrast-higher);
			text-decoration: underline;
		}
	}

	// Increased specificity on item link.
	.menu__link {
		vertical-align: baseline;
		padding: var(--space-xs) 0;

		@include breakpoint(md) {
			padding: 0;
		}
	}

	// Individual items.
	.menu__item {
		display: block;

		@include breakpoint(md) {
			padding: var(--space-xs) 0;
		}

		&.has-children {
			position: relative;
		}

		&.btn {
			padding: var(--space-xs) var(--space-sm);

			> .menu__link {
				color: inherit;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	// Specific nav menus. This prevents menus inside widgets from acting funky.
	&--primary {
		font-size: 1em;
		width: 100%;
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		background-color: var(--color-bg);
		padding-bottom: var(--space-xs);
		box-shadow: 0 3px 5px hsla(var(--color-contrast-high-h), var(--color-contrast-high-s), var(--color-contrast-high-l), 0.25);

		&.is-visible {
			display: block;
		}

		// Menu items list.
		.menu__items {
			align-items: center;
			width: 100%;
			margin: auto;
			padding-left: var(--component-padding);
			padding-right: var(--component-padding);

			@include breakpoint(md) {
				display: flex;
				padding: 0;
			}
		}

		.menu__item {

			@include breakpoint(md) {
				margin-left: var(--space-sm);
			}
		}

		@include breakpoint(md) {
			padding: 0;
			width: auto;
			display: block;
			position: static;
			box-shadow: none;
			background-color: transparent;

			.menu__items {}
		}
	}

	&--footer {

		.menu__items {
			padding: 0;
			display: flex;
			flex-wrap: wrap;
		}

		.menu__item {
			position: relative;
			margin-right: calc(var(--space-sm) * 2);
			display: inline-flex;

			&::after {
				content: "\B7";
				margin-left: var(--space-sm);
				position: absolute;
				left: 100%;
				color: var(--color-contrast-high);
			}

			> .menu__link,
			&.has-children > .menu__link {
				padding: 0;
			}

			&:last-child {
				margin-right: 0;

				&::after {
					display: none;
				}
			}
		}

		.menu__sub-menu--is-visible {
			display: none;
		}
	}
}

// Slightly higher specificity to override Jetpack
.jetpack-social-navigation {

	ul.menu {
		display: flex;
		margin-bottom: 0;

		.menu__item {
			margin-left: var(--space-xxs);
			padding: 0;

			&:first-child {
				margin-left: 0;
			}
		}

		.menu__link {
			height: auto;
			width: auto;
			padding: 0;
		}

		.icon,
		.menu__item.has-children > .menu__link .icon {
			position: static;
			width: 1.5em;
			height: 1.5em;
		}
	}
}

// Nav button icons
.nav-toggle {

	.nav-toggle--menu {
		display: block;
	}

	.nav-toggle--close {
		display: none;
	}

	&[aria-expanded="true"] {
		.nav-toggle--menu {
			display: none;
		}

		.nav-toggle--close {
			display: block;
		}
	}
}
