////
/// Sidebar component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

.sidebar {

	&--primary {}

	&--footer {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	&__title {}
}
