////
/// Widget component.
///
/// @group  Components
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints';

.widget {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	// Core widgets.
	&--archives {}
	&--calendar {}
	&--categories {}
	&--custom-html {}
	&--media-audio {}
	&--media-gallery {}
	&--media-image {}
	&--media-video {}
	&--meta {}
	&--nav-menu {}
	&--pages {}
	&--recent-comments {}
	&--recent-posts {}
	&--rss {}
	&--text {}
	&--search {}
	&--tag-cloud {}

	// Widget titles.
	&__title {
		font-size: 1.1em;
	}

	.sidebar--footer & {
		margin-bottom: var(--space-md);
		width: 100%;
		padding-right: var(--space-sm);
		flex-grow: 1;

		@include breakpoints.breakpoint(xs) {
			width: calc(100% / 2);
		}

		@include breakpoints.breakpoint(md) {
			width: calc(100% / 4);
		}
	}

	li {
		margin-bottom: var(--space-xxs);
	}

	a {
		color: var(--color-contrast-high);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
