////
/// Custom extends.
///
/// @group  Tools
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/themes/garrick
////

// Single line, end with ellipses
%truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

%clearfix {

	&::after {
		display: block;
		content: '';
		clear: both;
	}
}
