////
/// Custom mixins.
///
/// @group  Tools
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use '~codyhouse-framework/main/assets/css/base/breakpoints';
@use '~codyhouse-framework/main/assets/css/base/mixins';

// Shared scrollbar style
@mixin scrollbar($background: var(--color-bg), $foreground: var(--color-contrast-medium)) {

	// general scrollbar style
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	// progress bar
	&::-webkit-scrollbar-track {
		background-color: $background;
	}

	// handle
	&::-webkit-scrollbar-thumb {
		background-color: mixins.alpha($foreground, 0.9);
		border-radius: 0;

		&:hover {
			background-color: $foreground;
		}
	}
}

$blockquote-size-padding: var(--space-sm);
$blockquote-size-border: var(--space-xxxxs);

@mixin blockquote {
	margin-top: calc(var(--space-sm) * var(--text-space-y-multiplier, 1));
	padding-left: $blockquote-size-padding;
	border-left: $blockquote-size-border solid var(--color-contrast-low);

	@include breakpoints.breakpoint(md) {
		margin-left: calc(-1 * (#{$blockquote-size-padding} + #{$blockquote-size-border}));
	}
}

@mixin cite($font-size: var(--text-sm)) {
	color: var(--color-contrast-medium);
	font-size: $font-size;
	display: block;
	margin-top: var(--space-sm);
}

@mixin preformatted {
	background-color: var(--color-contrast-high);
	color: var(--color-contrast-lower);
	padding: var(--space-xxs) var(--space-sm);
	margin-top: var(--space-md);
	margin-bottom: var(--space-md);
	overflow: auto;

	@include scrollbar(var(--color-contrast-high), var(--color-contrast-lower));
}

@mixin separator {
	width: 100px;
	height: 2px;
	background-color: var(--color-contrast-medium);
	margin: var(--space-md) auto;
	border: 0;
}

@mixin caption {
	display: block;
	text-align: center;
	font-size: var(--text-sm);
	color: var(--color-contrast-medium);
	margin-top: calc(var(--space-unit) * 0.5);
}

@mixin screen-reader-text {
	clip:      rect( 1px, 1px, 1px, 1px );
	clip-path: inset( 50% );
	position:  absolute;
	width:     1px;
	height:    1px;
	margin:    -1px;
	overflow:  hidden;
	padding:   0;
	word-wrap: normal;
	border:    none;

	&:active,
	&:focus {
		clip:            auto;
		clip-path:       none;
		display:         block;
		height:          auto;
		width:           auto;
		z-index:         100000;
		text-decoration: none;
	}
}

// Single line, end with ellipses
@mixin truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin clearfix {

	&::after {
		display: block;
		content: '';
		clear: both;
	}
}
