////
/// Typography elements.
///
/// @group  Elements
/// @author Paul Eiche <paul@boldoak.design>
/// @link   https://boldoak.design/work/garrick
////

@use '~codyhouse-framework/main/assets/css/base/mixins';
@use 'tools/mixins' as *;

h1,
h2,
h3,
h4 {
	font-family: var(--font-heading);
	font-weight: var(--font-weight-heading);
	color: inherit;
	line-height: var(--component-heading-line-height, 1.2);
	margin-bottom: calc(var(--space-xxxs) * var(--text-space-y-multiplier, 1));
}

h2,
h3,
h4 {
	margin-top: calc(var(--space-sm) * var(--text-space-y-multiplier, 1));
}

p,
blockquote,
ul li,
ol li {
	line-height: var(--component-body-line-height);
}

ul,
ol {
	padding-left: 1em;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

blockquote {
	@include blockquote;

	cite {
		@include cite;
	}
}

ul,
ol,
p,
blockquote {
	margin-bottom: calc(var(--space-sm) * var(--text-space-y-multiplier, 1));

	&:last-child {
		margin-bottom: 0;
	}
}

pre,
code,
kbd,
tt,
var {
	font-family: var(--font-mono);
	font-size: 0.9em;
}

code,
kbd,
tt,
var {
	border-radius: var(--radius);
	background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.08);
	padding: var(--space-xxxxs) var(--space-xxxs);
}

pre {
	@include preformatted;
}

pre code {
	background-color: transparent;
	color: inherit;
	font-size: 1em;
	padding: 0;
}

kbd {
	box-shadow: 0 -1px 0 1px var(--color-contrast-low) inset;
}

hr {
	@include separator;
}

b,
strong {
	font-weight: var(--font-weight-bold);
}

i,
em {
	font-style: italic;
}

mark {
	background-color: mixins.alpha(var(--color-accent), 0.2);
	color: inherit;
}
